.navbar-brand{
   width: 20%;
}
.section-bg-primary{
    background-color: #d6f4d8;
}
.section-bg-green{
    background-color: #e3f4d6;
}
.section-bg-pink{
    background-color: #f4d6f2;
}
.section-bg-purple{
    background-color: #eceafa;
}
.section-bg-yellow{
    background-color: #ecefc2;
}
.section-bg-blue{
    background-color: #d9d6f4;
}
.section-bg-light{
    background-color: #eaf8f9;
}
.brand-title{
    line-height: 50px;
    font-size: x-large;
    font-family: Rufina;
    color: #224F34;
}
.navbar-menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.navbar-menu__item{
    width: 70%;
}
.navbar-login{
    width: 30%;
}
a{
    text-decoration: none;
}
.arrow{
    width: 35px;
    height: 35px;
    color: #224F34;
    border-radius: 3px;
    padding: 6px 10px 10px 12px;
}
.arrow:hover{
    background-color:#C2EFD4 ;
}
.feedback-content:hover{
    background-color: #C2EFD4;
}
section{
    padding-top: 100px;
    padding-bottom: 90px;
}
.section__title {
    font-family: Roboto Slab;
    font-size: 50px;
    color: #224F34;
    line-height: 78px;
}
.section__description {
    color: #224F34;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 30px;
}
.exclusive-design__description{
    width: auto;
    color: #224F34;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 40px;
    line-height: 30px;
}
.section-content{
    width: 414px;
    height: 250px;
}
.section__content--middle{
    background-color: #C2EFD4;
}
.login {
    border-color: #224F34;
    border-radius: 2px;
    color: #224F34;
    height: 35px;
}
.section__button {
    border: 2px solid #224F34;
    border-radius: 2px;
    pointer-events: none;
    color: #224F34;
}
.hero {
    background-color: #C2EFD4;
}
.footer__section{
    border-color: #A3F3BE !important;
    width: fit-content;
}
.hero__image {
    width: 400px;
    height: 500px;
    border-radius: 100px 30px 100px 30px;
    background-color: #6BC785;
    margin-top: 100px;
}
.section-content__description {
    color: #6F6F6F;
    font-size: 14px;
    line-height: 24px;
}
.navbar-toggler {
    font-size: 0.8rem;
}
@media (min-width: 300px) and (max-width: 576px) {
    .hero__image {
        width: 250px;
        height: 300px;
        border-radius: 70px 30px 70px 30px;
    }
    .footer{
        padding-left: 20px;
    }
}
.image__description {
    font-size: 16px;
    font-weight: 500;
    color: #373737;
    padding: 15px 30px 0px 40px;  
}
.image__description-products {
    font-size: 16px;
    font-weight: 500;
    color: #373737;
    padding: 15px 25px 0px 25px; 
}
.exclusive-design__count {
    font-size: 28px;
    font-weight: 500;
}
.hero__button{
    margin-bottom: 70px;
    margin-top: 40px;
    background-color: #224F34 ;
    border-radius: 2px;
}
.footer{
    background-color: #224F34;
}
.section__image1 {
    background-color: #93B9A2;
    width: 370px;
}
.section__image2{
    background-color: #A9D4BA;
    width: 370px;
}
.section__image3 {
    background-color: #CADCD0;
    width: 370px;
}
.designer-clothes__image1{
    width: 380px;
    height: 490px;
    background-color: #D3E2D7;
}
.designer-clothes__image2, .designer-clothes__image3{
    width:380px;
    height: 490px;
}
.hero__description,
.section__navigation {
    color: #267D49;
    font-size: 20px;
    line-height: 50px;
}
.section__navigation a{
    color: #224F34;
}
.hero__title {
    font-family: Rufina;
    font-size: 75px;
    color: #224F34;
    line-height: 100px;
}
.exclusive-design__title {
    font-family: Roboto Slab;
    font-size: 50px;
    color: #224F34;
}
.exclusive-design__button{
    width: 200px;
    height: 70px;
}
.time-box {
    background-color: white;
    color: #224F34;
    width: auto;
    min-width: 90px;
    height: 92px;
    margin-right: 20px;
    margin-bottom: 25px;
}
div.time-box:last-of-type{
    margin-right: 15px;
}
.our-product__image1,
.our-product__image2,
.our-product__image3,
.our-product__image4,
.our-product__image5,
.our-product__image6,
.our-product__image7,
.our-product__image8 {
    width:260px;
    height: 310px;
}
.footer_title{
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
#mynavbar li{
    font-size: 12px;
}
@media (min-width: 300px) and (max-width: 768px) {
    .footer__button{
        height: 30px;
    }
    .hero__image{
        margin-top: 50px;
    }
    .navbar-menu{
        width: max-content;
        margin-left: auto;
    }
    .navbar-toggler{
        width: max-content;
        margin-left: auto;
    }
    .navbar-menu li{
        font-size: 10px;
    }
    .navbar-login{
        width:55% ;
    }
    .exclusive-design__count {
        font-size: 18px;
        font-weight: 500;
    }
    .section-content{
        width: 288px;
        height: 220px;
    }
    .hero__title {
        font-size: 35px;
        line-height: 50px;
    }
    .hero__description,    .our-product__navigation {
        font-size: 13px;
        line-height: 20px;
    }
    .backgreen {
        background-color: #6BC785;
        margin-top: 70px;
    }
    .designer-clothes__image1{
        width: 340px;
        height: 450px;
        background-color: #D3E2D7;
    }
    .designer-clothes__image2, .designer-clothes__image3{
        width:340px;
        height: 450px;
    }
    .hero__button{
        margin-bottom: 30px;
    }
    .section__description{
        font-size: 13px;
        line-height: 25px;
        margin-top: 25px;
    }
    .section__image1  {
        width: 200px;
        height: 250px;
    }
    .section__image2{
        width: 200px;
        height: 250px;
    }
    .section__image3{
        width: 200px;
        height: 250px;
    }
    h5 {
        font-size: 13px;
    }
    .section__title {
        font-size: 40px;
        line-height: 55px;
        text-align: center;
    }
    .section__navigation{
        font-size: 15px;
        line-height: 45px;
    }
    .exclusive-design__title{
        font-size: 30px;
    }
    .exclusive-design__description{
        font-size:13px ;
    }
    .image__description {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 7px;
    }
    .best-sell p {
        font-size: 12px;
    }
    .best-sell h5 {
        font-size: 17px;
    }
    .footer-list {
        font-size: 12px;
    }
    .footer__contentr p {
        font-size: 14px;
    }
    .footer__content h3 {
        font-size: 16px;
    }
    .designer-clothes__image1, .designer-clothes__image2, .designer-clothes__image3{
        width: 200px;
        height: 250px;
    }
    .footer__email{
        width: 110px;
        font-size: 11px;
    }
    .footer__button{
        width: 60px;
        font-size: 11px;
        color: #224F34;
    }
    .hr ul{
        font-size: 10px;
    }
    .exclusive-design__button{
        width: 150px;
        height: 50px;
    }
    section{
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .time-box {
        min-width: 70px;
        height: 80px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
    .exclusive-design{
        width: auto;
        padding-right: 30px;
        justify-content: center;
    }
.our-product__image1,
.our-product__image2,
.our-product__image3,
.our-product__image4,
.our-product__image5,
.our-product__image6,
.our-product__image7,
.our-product__image8 {
    width: 210px;
    height: 250px;
}
.section-content__description{
    font-size: 11px;
}
.roboto-slab {   
    font-size: 14px;
    font-weight: 400;
}
.footer__section{
    width: 176px;
}
}
@media (min-width: 769px) and (max-width: 992px) {
    .hero__button{
        margin-bottom: 0px;
    }
    .footer__email{
        width: 150px;
    }
    .navbar-menu{
         width: max-content;
         margin-left: auto;
    }
    .navbar-toggler{
        width: max-content;
        margin-left: auto;
    }
    .navbar-login{
        width:55% ;
    }
    .hero__title {
        font-size: 50px;
        line-height: 60px;
    }
    .hero__description,    .our-product__navigation {
        font-size: 18px;
        line-height: 35px;
    }
    .backgreen {
        background-color: #6BC785;
        margin-top: 30px;
    }
    .our-product__image1,
    .our-product__image2,
    .our-product__image3,
    .our-product__image4,
    .our-product__image5,
    .our-product__image6,
    .our-product__image7,
    .our-product__image8 {
        width: 275px;
        height: 310px;
    }
    .exclusive-design{
        margin-top: 100px;
        padding-right: 30px;
    }
    .section__description{
        font-size: 15px;
    }
    .section__image1 {
        width: 270px;
        height:300px
    }
    .section__image2{
        width: 270px;
        height: 300px;
    }   
    .section__image3 {
        width: 270px;
        height: 300px;
    }
    .section__title {
        font-size: 50px;
        line-height: 45px;
    }
    .section__navigation{
        font-size: 15px;
        line-height: 25px;
    }
    .exclusive-design__title{
        font-size: 40px;
    }
    .exclusive-design__description{
        font-size:14px ;
    }
    .image__description{
        font-size:14px ;
        padding-bottom: 60px;
        padding-top:7px;
    }
    .designer-clothes__image1{
        width: 340px;
        height: 450px;
        background-color: #D3E2D7;
    }
    .designer-clothes__image1, .designer-clothes__image2, .designer-clothes__image3{
        width:310px;
        height: 375px;
    } 
}
@media (min-width:992px) and (max-width:1200px){
    .footer__button{
        height: 25px;
    }
    .hero__button{
        margin-bottom: 0px;
    }
    .footer__email{
        width: 120px;
        font-size: 14px;
    }
    .footer__button{
        width: 60px;
        font-size: 14px;
    }
    .section__image1 {
        background-color: #93B9A2;
        width: 260px;
    }
    .section__image2{
        width: 260px;
        background-color: #A9D4BA;
    }
    .section__image3 {
        background-color: #CADCD0;
        width: 260px;
    }
    .best-selling__title {
        font-size: 50px;
    }
    .best-selling__description {
        font-size: 17px;
    }
    .image__description{
        padding-bottom: 90px;
        padding-top:10px
    }
}
@media (min-width:1200px) and (max-width:1400px)
{
    .footer__email{
        width:160px;
    }
    .section__image1 {
        background-color: #93B9A2;
        width: 280px;
    }
    .section__image2{
        width: 280px;
        background-color: #A9D4BA;
    }  
    .section__image3 {
        background-color: #CADCD0;
        width: 280px;
    }
    .image__description{
        padding-bottom:80px;
        padding-top: 10px;
    }
}
body {
    font-family: poppins;
}
.best-selling__title {
    color: #224F34;
    font-family: roboto slab;
    font-size: 64px;
}
.best-selling__description {
    font-size: 20px;
    margin-bottom: 70px;
}
li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}
.our-product__image8 {
    background-color: #DDECE2;
}
.exclusive-design__image{
    max-width: 400px;
    max-height: 500px;
}
.vertical-line {
    width: 1px;
    background-color: black;
    margin:0 16px 0 16px;
}
.our-product {
    margin-top: 70px;
}
.section-content__title {
    font-family: Roboto Serif;
    color: #224F34;
}
.footer-list a{
    color: #C2EFD4;
}
